data_dir = "/etc/consul/server"
server = true
bootstrap_expect = {{ node_ips|length }}
advertise_addr = "{{ ansible_all_ipv4_addresses[1] }}"
client_addr = "{{ ansible_all_ipv4_addresses[1] }}"
ui = true
datacenter = "{{ datacenter_name }}"
ports {
    dns = {{ consul_dns_port }}
}
retry_join = [{% set comma = joiner(",") %}{% for node_ip in node_ips %}{{ comma() }}"{{ node_ip }}"{% endfor %}]

