{
    "data_dir": "/etc/consul/server",
    "log_level": "info",
    "enable_debug": true,
    "server": true,
    "bootstrap_expect": {{ nomad_server_count }},
    "node_name": "consul-node--{{ ansible_facts['eth0']['ipv4_secondaries'][0]['address'] | replace('.','-') }}",
    "rejoin_after_leave": true,
    "retry_interval": "10s",
    "retry_join": ["provider=linode region=ca-central tag_name=nomad-node api_token={{ linode_token }}"],
    "advertise_addr": "{{ ansible_facts['eth0']['ipv4_secondaries'][0]['address'] }}",
    "client_addr": "0.0.0.0",
    "ui_config": {
        "enabled": true
    },
    "datacenter": "{{ datacenter_name }}"
}

