{
  "data_dir": "/etc/nomad/server",
  "datacenter": "{{ datacenter_name }}",
  "region": "{{ datacenter_region }}",
  "name": "node--{{ ansible_facts['eth0']['ipv4_secondaries'][0]['address'] | replace('.','-') }}",
  "server": {
    "enabled": true,
    "job_gc_threshold": "1m",
    "server_join": {
      "retry_join": ["{{ ansible_facts['eth0']['ipv4_secondaries'][0]['address'] }}"],
      "retry_max": 0,
      "retry_interval": "5s"
    }
  },
  "advertise": {
    "http": "{{ ansible_facts['eth0']['ipv4']['address'] }}",
    "rpc": "{{ ansible_facts['eth0']['ipv4_secondaries'][0]['address'] }}",
    "serf": "{{ ansible_facts['eth0']['ipv4_secondaries'][0]['address'] }}"
  },
  "client": {
    "enabled": true,
    "gc_interval": "10s",
    "server_join": {
      "retry_join": ["{{ ansible_facts['eth0']['ipv4_secondaries'][0]['address'] }}"],
      "retry_max": 0,
      "retry_interval": "5s"
    }
  }
}
